# The template base dependencies.
# You can change the versions or the cassandra driver (datastax or cassandra)

psycopg2-binary>=2.7.5
python-dateutil>=2.7.5
solrq>=1.1.0
gunicorn>=19.9.0
gevent>=1.2.2
dse-driver>=2.6
#cassandra-driver>=3.15.0
django_compressor>=2.2

git+ssh://git@github.com/buildgroupai/django-davinci-crawling.git@develop#egg=django-davinci-crawling-0.1.5-SNAPSHOT

